- content_for :page_header do
  %h2
    Entity Fields
    &nbsp;
    = back_button back_path

= render "admin/anything/shared/edit_collection_container", resource: collection_record do
  %table.table.table-striped
    %thead
      %tr
        %th Title
        %th Field Type
        %th Sources
    %tbody.folders-list
      - collection_record.fields.each do |field|
        %tr
          %td
            %span= field.title
          %td
            = field.field_data_type
          %td
            = field.sources
