- method = form_object.persisted? ? "PATCH" : "POST"
- url = form_object.persisted? ? admin_anything_collection_form_path(collection_record, form_object.form_record) : admin_anything_collection_forms_path(collection_record)

= form_with scope: :form, model: form_object, url: url, method: method do |f|
  = f.hidden_field :collection_id, value: collection_record.id

  .input.string.anything_form_title
    .form-group.form-float
      .form-line
        = f.text_field :title, class: 'form-control string required'
        = f.label :title, class: 'form-label string required' do
          %abbr{title: 'required'} *
          %span Title

      - if form_object.errors[:title].any?
        %label.error= form_object.errors[:title].join(", ")

  %h1 Fields
  %script#field-row{type: "text/template"}= render 'field_row', field: Anything::FormFieldObject.new, field_index: '{?}'
  %script#validation-row{type: "text/template"}= render 'validation_row', validation: Anything::FormFieldValidationObject.new, field_index: 'field_index_placeholder', validation_index: '{?}'
  %script#form_helper_script{ data: { url: admin_anything_dynamic_form_components_path } }

  .fields-container
    - form_object.fields.each_with_index do |field, index|
      = render 'field_row', field: field, field_index: index

  .row
    .col-12
      = add_button 'Add field', '#', id: 'add-field-button'

  .row
    .col-12
      %br
      %hr
      = submit_button 'Save'
