<!DOCTYPE html>
<html>
  <head>
    <title><%= TownflowApp::NAME %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body class="login-page">
    <div class="login-box">
        <div class="logo">
            <a href="javascript:void(0);">Town<b>FLOW</b></a>
            <small>ERP for any size of business</small>
        </div>
        <div class="card">
            <div class="body">
              <%= yield %>
            </div>
        </div>
    </div>
  </body>
</html>
